/vendor/
/node_modules/
/.env

# Laravel specific ignored files
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/*.cache
/.phpunit.result.cache

# IDE files
/.idea
/.vscode
*.DS_Store

# OS junk
Thumbs.db
